* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Century Gothic';
}


nav {
    background-color: #fff;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav ul {
    margin: 0 auto 0 1.5rem;
}

nav ul li.logo {
    list-style: none;
    float: left;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}

nav ul li {
    list-style: none;
    float: right;
    line-height: 50px;
    font-size: 20px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #116466;
    padding: 0 20px;
}

nav ul li a:hover{
    color: #d1e8e2;
}


.title-bar {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr .3fr 1fr;
    width: 35rem;
    height: 5rem;
    border-radius: .5rem;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    left: 61%;
    top: 10%;
    place-items: center;
    color: #116466;
}

.title-bar > h4 {
    justify-self: end;
    position: relative;
    padding: 0 1rem;
}

.ab {
    display: none;
}

.title-bar > h4 ul{
    display: none;
    position: absolute;
    background: #fff;
    width: 16rem;
    z-index: 1;
    padding: .5rem;
}

.title-bar > h4:hover ul{
    display: block;
}

.title-bar > h4 ul li{
    padding: .5rem .5rem;
    list-style: none;
    color: grey;
}

.title-bar > h4 ul li:hover{
    box-shadow: 0 1px .5rem rgba(0, 0, 0, .1);
}

.fa-caret-down {
    padding: 0 .2rem;
}

.title-bar .bell {
    justify-self: center;
}
.user-info {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    place-items: center;
    justify-self: center;
}

.avi img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.dash {
    width: 100%;
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
}

.dash .card {
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    margin: 1rem 2rem 4rem 2rem;
    position: relative;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
}

#summary {
    color: #116466;
    width: 35rem;
    height: 21rem;
}

#summary h4{
    position: relative;
    background: #116466;
    height: 2rem;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5rem; 
}

#summary p , hr{
    margin-bottom: .5rem;
}

#graph h4{
    position: relative;
    background: #116466;
    height: 2rem;
    color: #fff;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5rem; 
}



.transaction-history {
    position: absolute;
    top: 90%;
    left: 8%;
    margin-bottom: 5rem; 
    background: #fff;
    box-shadow: 0 1px 1.5rem rgba(0, 0, 0, .1);
    padding: 1rem;
    border-radius: 1rem; 
}

.transaction-history table {
    width: 80rem;
    color: #116466;
}

caption {
    text-align: start;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

th , td {
    padding: 1rem;
}

tr:hover {
    border: 1px solid #116466;
    box-shadow: 0 1px .5rem rgba(0, 0, 0, .1);
}

.transaction-history table tr th {
    text-align: start;
    background: #116466;
    color: #fff;
    height: 2rem;
}


@media screen and (max-width: 1024px) {
    .title-bar {
        grid-template-columns: 2fr .3fr 1fr;
        width: 90%;
        left: 0;
        margin: 0 5%;
    }

    .name {
        display: none;
    }

    .ab {
        display: inline;
    }
    
    #summary {
       position: absolute; 
       width: 90%;
       margin: 3rem 0 0 0;
    }

    #graph {
        position: absolute; 
        width: 90%;
        margin: 26rem 0 0 0;
    }

    #chartContainer {
        overflow: auto;
    }

    .transaction-history {
        position: relative; 
        width: 90%;
        overflow: auto;
        left: 0;
        margin: 72rem auto 4rem auto;
    }

    .transaction-history table {
        overflow: auto;
    }
}

@media screen and (max-width: 600px) {
    nav {
        position: absolute;
    }
    
    .menu-text {
        display: none;
    }

    .transaction-history {
        margin: 68rem auto 4rem auto;
    }

    .title-bar {
        grid-template-columns: 2fr .5fr 2fr;
        font-size: 12px;
    }

    .title-bar .bell {
        justify-self: start;
    }
    
    #summary {
        font-size: 12px;
        height: 18rem;
     }
 
     #graph {
         margin: 23rem 0 0 0;
         font-size: 12px;
     }
 
     .transaction-history {
        font-size:12px;
         margin: 63rem auto 4rem auto;
     }
}